@font-face {
    font-family: "Nunito Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Nunito Sans"),
             url("font/NunitoSans_7pt-Regular.woff") format("woff");
  }

@font-face {
    font-family: "Nunito Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Nunito Sans"),
             url("font/NunitoSans_7pt-Italic_1.woff") format("woff");
  }

@font-face {
    font-family: "Yeseva One";
    font-style: normal;
    font-weight: 400;
    src: local("Yeseva One"),
             url("font/YesevaOne-Regular.woff") format("woff");
  }